/* profileDetailsView.css */

.right-anchor-pane {
    -fx-background-color: #1D3B76;
}
.right-anchor-pane .button{
    -fx-background-color: #3C51C6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.right-anchor-pane .button:hover{
    -fx-background-color: #2E3D9A;
}

.left-anchor-pane {
    -fx-background-color: #3C51C6;
}
.left-anchor-pane .button{
    -fx-background-color: #885FC9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.left-anchor-pane .button:hover{
    -fx-background-color: #6F4FB1;
}
.image-view {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.userNameLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #2E4A8A;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-color: #5A75E2;
    -fx-border-radius: 5px;
}

