/* profileDetailsView.css */

.anchor-pane {
    -fx-background-color: #1D3B76;
}

.toolbar {
    -fx-background-color: #3C51C6;
}

.search-toolbar {
    -fx-background-color: #3C51C6;
}

.search-toolbar .button {
    -fx-background-color: #885FC9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.toolbar .button {
    -fx-background-color: #885FC9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.toolbar .button:hover {
    -fx-background-color: #6F4FB1;
}

.toolbar .button.selected {
    -fx-background-color: #6F4FB1;
}

.image-view {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
