/* storeView.css */
.anchor-pane {
    -fx-background-color: #1D3B76;
}
.toolbar {
    -fx-background-color: #3C51C6;
}
.search-toolbar {
    -fx-background-color: #3C51C6;
}
.button {
    -fx-background-color: #885FC9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.button:hover {
    -fx-background-color: #6F4FB1;
}

.button-selected {
    -fx-background-color: #b69ccf;
}

.scroll-pane {
    -fx-background: #1D3B76;
    -fx-padding: 10;
}


.image-view {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.scroll-bar:vertical .track {
    -fx-background-color: #CCCCCC; /* Track color */
}
.scroll-bar:vertical .thumb {
    -fx-background-color: #666666; /* Thumb color */
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #999999; /* Button color */
}

#searchField {
    -fx-background-color: #2C4D90; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-prompt-text-fill: #B0C4DE; /* Prompt text color */
    -fx-border-color: #3C51C6; /* Border color */
    -fx-border-radius: 5px; /* Border radius */
    -fx-background-radius: 5px; /* Background radius */
    -fx-padding: 5px; /* Padding inside the TextField */
}

#searchField:focused {
    -fx-background-color: #b69ccf; /* Complementary shade of purple for contrast */
    -fx-border-color: #7C8EC2; /* Adjusted border color */
}

#searchField:hover {
    -fx-background-color: #554FA6; /* Background color when hovered */
}