app_name: GameArcade
app_version: 1.0
log.file.path=log/arcade_app.log
log.file.maxsize=1048576
db_URL: jdbc:mysql://localhost:3306/
db_name: arcadeApp
db_uname: root
db_pass: Love8888$
email_list: email.cfg
root_path: /com/cookiecoders/gamearcade/
prof_image_path: img/prof_img/
game_image_path: games/img/
